@import "../../../theme/variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
}

:host(.theme-secondary) {
  background: $theme-color-03;
}

:host(.theme-primary) {
  background: $theme-color-01;
}
