<h1>Tabs Component</h1>

<app-tab-group appThemeProvider theme="primary">

  <app-tab label="Angular">
    to jest jakaś zakładka 1
  </app-tab>

  <app-tab label="Vue">
    to jest jakaś zakładka 2
  </app-tab>

  <app-tab label="React">
    to jest jakaś zakładka 3
  </app-tab>

</app-tab-group>

<app-tab-group appThemeProvider theme="secondary">

  <app-tab label="Angular">
    to jest jakaś zakładka 1
  </app-tab>

  <app-tab label="Vue">
    to jest jakaś zakładka 2
  </app-tab>

  <app-tab label="React">
    to jest jakaś zakładka 3
  </app-tab>

</app-tab-group>

<h1>Tabs with custom navigation</h1>

<app-tab-group [controlsTemplate]="customControlsTpl">

  <app-tab label="Angular">
    to jest jakaś zakładka 1
  </app-tab>

  <app-tab label="Vue">
    to jest jakaś zakładka 2
  </app-tab>

  <app-tab label="React">
    to jest jakaś zakładka 3
  </app-tab>

</app-tab-group>

<ng-template #customControlsTpl let-tabs let-showTab="showTab">
    <ul>
      <li *ngFor="let tab of tabs" (click)="showTab(tab)">{{ tab.label }}</li>
    </ul>
</ng-template>

<h1>Tab group with stretched labels </h1>

<app-tab-group appThemeProvider appStretchTabs theme="secondary">

  <app-tab label="Angular">
    to jest jakaś zakładka 1
  </app-tab>

  <app-tab label="Vue">
    to jest jakaś zakładka 2
  </app-tab>

  <app-tab label="React">
    to jest jakaś zakładka 3
  </app-tab>

</app-tab-group>

<h1>Tabs as links</h1>

<nav appTabNavBar>
  <a href="" appTabLink [active]="true">Page first</a>
  <a href="" appTabLink>Page second</a>
  <a href="" appTabLink>Page third</a>
</nav>

<nav appTabNavBar appThemeProvider theme="secondary">
  <a href="" appTabLink [active]="true">Page first</a>
  <a href="" appTabLink>Page second</a>
  <a href="" appTabLink>Page third</a>
</nav>
