<app-contacts-list>

  <nav *ngIf="contactFilters && contactFilters.length" appTabNavBar header>

    <a *ngFor="let filter of contactFilters" appTabLink [active]="filter.id === activeFilter">{{ filter.text }}</a>

  </nav>

  <div *ngIf="contactLists && contactLists.length">

    <app-contact-card *ngFor="let contact of contactLists" [contact]="contact"></app-contact-card>

  </div>

</app-contacts-list>

<!--<div style="height: 100%; flex-grow: 1">messages</div>-->
<!--<div style="width: 300px;">contact profile info</div>-->
