$theme-color-01: #0045ff;
$theme-color-02: #f3f5fa;
$theme-color-03: #0ac786;
$theme-color-04: #949494;
$theme-color-05: #000000;

$box-shadow: 0px 0px 1px rgba(0,0,0, .2);

$global-border-width: 3px;

$global-border-color: rgba(0,0,0,.07);

$global-font-size: 10px;
