@import "../../../theme/theme";

:host {
  display: flex;
  height: 100%;
}

app-contacts-list {
  width: 350px;
  height: 100%;

  app-contact-card {
    &:not(:last-child) {
      border-bottom: 1px solid $global-border-color;
    }
  }

}
