<app-aside>

  <app-menu *ngIf="asideMenuItems && asideMenuItems.length">

    <app-menu-item *ngFor="let item of asideMenuItems" [iconName]="item.icon" [badges]="item.badges" [active]="item.active" [routerLink]="[item.route]" routerLinkActive="active">

      <span title>{{ item.title }}</span>

      <span *ngIf="item && item.subtitle" subtitle>{{ item.subtitle }}</span>

    </app-menu-item>

  </app-menu>

</app-aside>

<app-main-content>

  <app-topbar>

   <app-topbar-section>

     <app-input iconName="search">

       <input appInput type="text" placeholder="Search messages">

     </app-input>

   </app-topbar-section>

    <app-topbar-section right>
      notifications btn
    </app-topbar-section>

    <app-topbar-section right>
      user dropdown menu
    </app-topbar-section>

  </app-topbar>

  <ng-content></ng-content>


</app-main-content>
