@import "../../theme/variables";

:host {
  display: flex;
  height: 100vh;
  width: 100%;
}

app-aside {
  width: 400px;
  height: 100%;
}

app-main-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

app-topbar-section[right] {
  &:first-child {
    border-left: 1px solid $global-border-color;
    border-right: 1px solid $global-border-color;
  }
  border-right: 1px solid $global-border-color;
}

app-topbar-section[hasDropdown] {
  position: relative;

  app-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
  }

}

app-user-menu {
  width: 300px;
}

// TODO: Passing css class into backdrop doesn't work
.demo-backdrop {
  background: rgba(0,0,0,.7) !important;
}
