<app-avatar url="http://placehold.it/200x200"></app-avatar>

<h1 class="name">Przemysław Chudziński</h1>

<p class="location">Los Angeles, California</p>

<button class="contact-menu" [appDropdownTriggerFor]="contactDetailsMenu">

  <app-icon iconName="more_vert"></app-icon>

  <app-dropdown #contactDetailsMenu>

    <app-list appDropdownMenu>

      <app-list-item appDropdownMenuItem>

        <app-icon appThemeProvider theme="secondary" iconName="phone"></app-icon>

        <span>Call</span>

      </app-list-item>

      <app-list-item appDropdownMenuItem>

        <app-icon appThemeProvider theme="secondary" iconName="block"></app-icon>

        <span>Block</span>

      </app-list-item>

    </app-list>

  </app-dropdown>

</button>

<app-list class="contact-details-list" appWithBorderBottom>

  <app-list-item *ngFor="let info of contactInfo">

    <strong>{{ info.key }}:</strong>

    <span *ngIf="!isArray(info.value);" class="extra-text" extra>{{ info.value }}</span>

    <div class="extra-array" *ngIf="isArray(info.value)" extra>

      <span *ngFor="let element of info.value" class="extra-text">{{ element }}</span>

    </div>

  </app-list-item>

</app-list>
